<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite 1" parallel="tests" thread-count="2">
    <!-- For sequential run use only platform parameter for both (iOS & Android) test cases-->
   <parameter name="hubUrl" value="http://192.168.3.117:4444/wd/hub"></parameter>
    <test name="Android_VerifiyNotifications1">
        <parameter name="deviceName" value="ZY224P7HZB" />
        <parameter name="platformVersion" value="9" />
        <parameter name="platform" value="Android" />
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="com.basics.MobileParallelExecutionScript"/>
        </classes>
    </test>

    <test name="iOS_Execution">
        <parameter name="deviceName" value="iPad mini 3" />
        <parameter name="platformVersion" value="12.1" />
        <parameter name="platform" value="iOS" />
        <parameter name="browserName" value="Safari"/>
        <classes>
            <class name="com.basics.MobileParallelExecutionScript"/>
        </classes>
    </test>

</suite>